

.form{
    width: 50%;
    margin: auto;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.addExp{
    display: flex;
    flex-direction: row-reverse;
    margin: 15px 10px 20px 0px;
    margin-right: 270px;
}